.container_father_form {
  display: flex;
  padding: 20px;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.button_body {
  border-radius: 20px;
  background-color: var(--interactable-color);
  padding: 0;
  transition: box-shadow 0.5s;
}

.button_body:hover {
  box-shadow: 0 1.9px 2.7px rgba(0, 0, 0, 0.31),
    0 4.8px 6.9px rgba(0, 0, 0, 0.214), 0 9.7px 14.2px rgba(0, 0, 0, 0.172),
    0 20.1px 29.2px rgba(0, 0, 0, 0.138), 0 55px 80px rgba(0, 0, 0, 0.096);
}

.button_form {
  color: var(--main-text-color);
  background-color: transparent;
  text-transform: uppercase;
  padding: 20px;
  border-radius: 20px;
  border: none;
  text-decoration: none;
  cursor: pointer;
  width: 100%;
  height: 100%;
}

.button_form_send {
  background-color: var(--important-content-color);
  border: none;
  cursor: pointer;
  border-radius: 10px;
  width: 100px;
  height: 40px;
  align-self: flex-end;
}

.button_form_cancel {
  background-color: var(--secondary-content-color);
  border: none;
  cursor: pointer;
  border-radius: 10px;
  width: 100px;
  height: 40px;
}

.text_input_form {
  background-color: var(--secondary-items);
  height: 25px;
  width: 300px;
  outline: none;
  border: none;
  border-bottom: solid 2px var(--important-content-color);
  padding-left: 10px;
  border-radius: 5px;
}

.button_container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 20px;
}

.body_form_father,
.body_form_father > div {
  width: 100%;
  height: 100%;
}

.body_form_father > div > div {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.inputs_container {
  height: 50%;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 1100px) {
  .container_father_form {
    padding: 3px;
    height: 100%;
  }

  .text_input_form {
    background-color: var(--secondary-items);
    height: 25px;
    width: 300px;
    outline: none;
    border: none;
    border-bottom: solid 2px var(--important-content-color);
    padding-left: 10px;
    border-radius: 5px;
  }

  .button_container {
    display: flex;
    height: 20%;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 20px;
  }

  .body_form_father,
  .body_form_father > div {
    width: 100%;
    height: 100%;
  }

  .body_form_father > div > div {
    display: flex;
    width: 100%;
    justify-content: space-around;
  }

  .inputs_container {
    height: 70%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
}
