.card-info-content {
  background-color: var(--secondary-items);
  display: flex;
  cursor: pointer;
  padding: 10px;
  margin: 10px;
  transition: all 0.5s;
  border-radius: 10px;
}

.card-info-content:hover {
  box-shadow: 0 0.6px 2.7px rgba(0, 0, 0, 0.32),
    0 1px 6.9px rgba(0, 0, 0, 0.221), 0 1.4px 14.2px rgba(0, 0, 0, 0.178),
    0 2px 29.2px rgba(0, 0, 0, 0.142), 0 4px 80px rgba(0, 0, 0, 0.099);
}

.name-card {
  font-size: 15px;
  align-self: flex-end;
  width: fit-content;
}

.picture-perfil {
  width: 150px;
  height: 150px;
  overflow: hidden;
  border: 2px solid var(--important-content-color);
  border-radius: 20px;
}

.main-content-card {
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  width: 90%;
}

.owner-data-card {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title_name_content {
  text-align: center;
}

.test_window {
  background-color: rgba(93, 37, 102, 0.7);
  padding: 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}

.test_window_father {
  padding: 20px;
  display: flex;
  position: absolute;
  z-index: 1;
  width: 98.5vw;
  height: 65vh;
  align-items: center;
  justify-content: center;
}

.close_button {
  padding: 20px;
  margin-bottom: 10px;
  align-self: flex-end;
  cursor: pointer;
  color: white;
}
