* {
  margin: 0;
  padding: 0;
}

:root {
  --main-text-color: #fff;
  --interactable-color: #ec4d23;
  --secondary-items: #f78620;
  --important-content-color: #5d2566;
  --secondary-content-color: #d91e63;
}

body {
  background-color: #fff;
}

.shadow {
  box-shadow: 0 2.3px 1.9px rgba(0, 0, 0, 0.041),
    0 5.4px 4.3px rgba(0, 0, 0, 0.06), 0 9.7px 7.7px rgba(0, 0, 0, 0.074),
    0 16.1px 12.8px rgba(0, 0, 0, 0.086), 0 26.5px 21.2px rgba(0, 0, 0, 0.1),
    0 46.2px 37px rgba(0, 0, 0, 0.119), 0 100px 80px rgba(0, 0, 0, 0.16);
}

.list {
  list-style: none;
}

.item {
  border-radius: 20px;
  padding: 5px;
  /* background-color: #ce9b79; */
  background-color: var(--important-content-color);
}

.text {
  color: var(--main-text-color);
}

.border {
  border: 1px solid violet;
}

.text_input {
  background-color: var(--secondary-items);
  height: 25px;
  width: 300px;
  outline: none;
  border: none;
  border-bottom: solid 2px var(--important-content-color);
  padding-left: 10px;
  border-radius: 5px;
  color: #fff;
}

.number_input {
  background-color: var(--secondary-items);
  height: 25px;
  width: 300px;
  outline: none;
  padding-right: 5px;
  border: none;
  border-bottom: solid 2px var(--important-content-color);
  padding-left: 10px;
  border-radius: 5px;
  color: #fff;
}

.text_area {
  background-color: var(--secondary-items);
  height: 30%;
  width: 200px;
  margin: 5px;
  outline: none;
  border: none;
  border-bottom: solid 2px var(--important-content-color);
  padding-left: 10px;
  border-radius: 5px;
  resize: none;
  padding: 5px;
  color: #fff;
}

.button_send {
  background-color: var(--important-content-color);
  border: none;
  cursor: pointer;
  border-radius: 10px;
  width: 100px;
  height: 40px;
  align-self: flex-end;
}

.button_cancel {
  background-color: var(--secondary-content-color);
  border: none;
  cursor: pointer;
  border-radius: 10px;
  width: 100px;
  height: 40px;
}
