.full-content-father {
  display: flex;
  flex-direction: column;
}

.inner-full-content {
  display: flex;
}

.content-card {
  text-align: center;
}

.main-full-content {
  margin-bottom: 20px;
  padding: 10px;
}

.title-full-content {
  width: 95%;
  margin-left: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #ddd;
}
